<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Learning Spring Boot: Spring-a-Gram</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>Learning Spring Boot - 2nd Edition</h1>
<h3>Using LiveReload plugin in your browser will speed up your efforts</h3>
<h3>It's really handy to make edits to local files to go out to cloud automatically.</h3>
<h4 th:text="${extra}"/>
<input id="username" type="text"/>
<button id="connect">Connect</button>
<button id="disconnect" style="display: none">Disconnect</button>
<div>
    <table>
        <thead>
        <tr>
            <th>Id</th><th>Name</th><th>Image</th><th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="image : ${images}">
            <td th:text="${image.id}" />
            <td th:text="${image.name}" />
            <td>
                <a th:href="@{'/images/' + ${image.name} + '/raw'}">
                    <img th:src="@{'/images/'+${image.name}+'/raw'}"
                         class="thumbnail" />
                </a>
            </td>
            <td>
                <form th:method="delete"
                      th:action="@{'/images/' + ${image.name}}">
                    <input type="submit" value="Delete" />
                </form>
            </td>
            <td>
                <ul th:id="'ul-comment-' + ${image.id}">
                    <li th:each="comment: ${image.comments}"
                    th:text="${comment.comment}"></li>
                </ul>
            </td>
            <td>
                <input th:id="'comment-' + ${image.id}" type="text" value=""/>
                <button th:id="${image.id}" class="comment">Submit</button>
            </td>
        </tr>
        </tbody>
    </table>
    <form method="post" enctype="multipart/form-data"
          action="/images">
        <p><input type="file" name="file" /></p>
        <p><input type="submit" value="Upload" /></p>
    </form>
</div>

<div id="checkBox">
    Greetings!
    <br/>
    <textarea id="chatDisplay" rows="10" cols="80" disabled="true"></textarea>
    <br/>
    <input id="chatBox" type="text" style="width:500px; display: none" value=""/>
    <br/>
    <button id="chatButton">Send</button>
    <br/>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    (function() {

        var newCommentSocket;

        var outboundChatWebsocket;

        var inboundChatWebsocket;

        document.querySelectorAll('button.comment')
            .forEach(function(button) {
                button.addEventListener('click', function() {
                    var comment = document.getElementById('comment-' + button.id);
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST',/*[[@{'/image/comments'}]]*/'', true);

                    var formData = new FormData();
                    formData.append('comment', comment.value);
                    formData.append('imageId', button.id);
                    xhr.send(formData);

                    comment.value = '';
                });
            });

        document.getElementById('connect')
            .addEventListener('click', function(event) {
                document.getElementById('connect').style.display = 'none';
                document.getElementById('disconnect').style.display = 'inline';

                var usernameInput = document.getElementById('username');
                document.getElementById('chatBox').style.display = 'inline';

                newCommentSocket = new WebSocket('ws://localhost:8200/topic/comment.new');
                newCommentSocket.onopen = function(event) {
                    console.log('Connected to chat service');
                    console.log(event);
                }

                newCommentSocket.onmessage = function(event) {
                    console.log('Received ' + event.data + '!');
                    var passedMessage = JSON.parse(event.data);

                    var ul = document.getElementById('ul-comment-' + passedMessage.imageId);
                    var li = document.createElement('li');
                    li.appendChild(document.createTextNode(passedMessage.comment));
                    ul.appendChild(li);
                };

                outboundChatWebsocket = new WebSocket('ws://localhost:8200/app/chatMessage.new');
                outboundChatWebsocket.onopen = function (event) {
                    document.getElementById('chatButton')
                        .addEventListener('click', function () {
                            var chatInput = document.getElementById('chatBox');
                            console.log('Publishing "' + chatBox.value + '"');
                            outboundChatWebsocket.send(chatBox.value);
                            chatBox.value = '';
                            chatBox.focus();
                        });
                };

                inboundChatWebsocket = new WebSocket('ws://localhost:8200/topic/chatMessage.new?user=' + usernameInput.value);
                inboundChatWebsocket.onmessage = function (event) {
                    console.log('Received ' + event.data);
                    var chatDisplay = document.getElementById('chatDisplay');
                    chatDisplay.value = chatDisplay.value + event.data + '\n';
                };
            });

        document.getElementById('disconnect')
            .addEventListener('click', function (event) {
                document.getElementById('disconnect').style.display = 'none';
                document.getElementById('connect').style.display = 'inline';
                document.getElementById('chatBox').style.display = 'none';

                if(null != newCommentSocket) {
                    newCommentSocket.close();
                }
                if(null != outboundChatWebsocket) {
                    outboundChatWebsocket.close();
                }
                if(null != inboundChatWebsocket) {
                    inboundChatWebsocket.close();
                }
            });

    })();
    /*]]*/
</script>
</body>
</html>